*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}


.ber{
    /* background: rgb(161,19,19);
    background: linear-gradient(318deg, rgba(161,19,19,1) 0%, rgba(255,0,0,1) 100%, rgba(255,0,86,1) 100%); */
    color: #c72e2e;

}

.element li:hover {
    background-color: rgb(168, 204, 252);
    /* background: linear-gradient(225deg, rgba(22,163,193,1) 0%, rgba(10,195,233,0.8435749299719888) 93%); */
}

.element li:hover button{
    background-color: rgb(168, 204, 252);
}

.buttons{
    display: inline-block;
}

button{
    font-size: 2.4rem;
    margin: 10px 2px;
    padding: 1px;
    border: none;
    background-color:#fff;
}

button:hover{
    color: #999
}

.topBar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
}

.headings{
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    list-style: none;
    display: block;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.55);  
}


.headings li p{
    display: inline-block;
    width: 7%;
    padding: 10px;
}


.element{
    margin:130px 20px 30px 20px;
    list-style: none;
}

.element li {
    border-bottom: 1px solid black;
}

.element li p{
    display: inline-block;
    width: 7%;
    padding: 10px;
    /* border-bottom: 1px solid black; */
}

.searchField{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.addButton , .searchButton{
    /* font-size: 1.5rem; */
    flex-basis: 50px;
    height: 50px;
    border: none;
    text-decoration: none;
    background-color: white;
    border-radius: 50px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.55); 
}


.searchSelect{
    display: inline-block;
    flex-basis: 10%;
    height: 35px;
    outline: none;
}




@media print {
    html, body {
        height: auto;
        font-size: 11px; /* changing to 10pt has no impact */
    }

}

@page {
    margin: 10px;
}


@media screen and (max-width: 1023px) {

    *{
        font-size: 10px;
    }

    button{
        font-size: 2.2rem;
    }

    .List{
        position: relative;
        padding: 0 0 0 80px;
        display: flex;
        height: 90vh;
        overflow-y: hidden;
    }
    
    .headings{
        position: fixed;
        top:0;
        left:0;
        display: flex;
        height: 100vh;
        list-style: none;
        width: 100px;
        background-color:black;
        color: white;
    }
    
    .headings li p{
        height: 7%;
        padding: 10px;
        display: block;
    }
    
    .element{
        display: flex;
        margin-top: 0px;
        height: 100vh;
        list-style: none;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.55);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.55);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.55);
    }

    .element li{
        border-right: 1px solid black;
    }
    
    .element li p{
        height: 7%;
        padding: 10px;
        display: block;
    }

    .searchField{
        display: flex;
        position: fixed;
        width: 100%;
        bottom: 0px;
        left: 30px;
        align-items: center;
        justify-content: center;
    }

    .addButton , .searchButton{
        flex-basis: 30px;
        height: 30px;
    }

    .searchSelect{
        display: inline-block;
        flex-basis: 40%;
        height: 35px;
        outline: none;
    }
  }