*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: arial;
}

ul  li  p {
    display: inline-block;
    width: 8%;
    
}

.headings{
    font-weight: bold;
}

li{
    list-style: none;
}